.button {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.yesButton {
    border: 2px solid #4CAF50; /* Green */
}

.yesButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.noButton {
    border: 2px solid #F44336; /* Red */
}

.noButton:hover {
    background-color: #F44336; /* Red */
    color: white;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    padding: 70px 0;
    text-align: center;
}

.question {
    display: none;
}
