.explanation {
  display: inline-block;
  text-align: left;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.yesButton {
    border: 2px solid #4CAF50;
}

.yesButton:hover {
    background-color: #4CAF50;
    color: white;
}

.streetButton {
    border: 2px solid #4CAF50;
}

.streetButton:hover {
    background-color: #4CAF50;
    color: white;
}

.streetTouringButton {
    border: 2px solid #AEAE4C;
}

.streetTouringButton:hover {
    background-color: #AEAE4C;
    color: white;
}

.xtremeStreetButton {
    border: 2px solid #CC6600;
}

.xtremeStreetButton:hover {
    background-color: #CC6600;
    color: white;
}

.camButton {
    border: 2px solid #3333FF;
}

.camButton:hover {
    background-color: #3333FF;
    color: white;
}

.streetPreparedButton {
    border: 2px solid #4CAEAE;
}

.streetPreparedButton:hover {
    background-color: #4CAEAE;
    color: white;
}

.streetModifiedButton {
    border: 2px solid #AE4CAE;
}

.streetModifiedButton:hover {
    background-color: #AE4CAE;
    color: white;
}

.preparedButton {
    border: 2px solid #CC0000;
}

.preparedButton:hover {
    background-color: #CC0000;
    color: white;
}

.modifiedButton {
    border: 2px solid black;
}

.modifiedButton:hover {
    background-color: black;
    color: white;
}

.gt1Button {
  border: 2px solid #b39886;
}

.gt1Button:hover {
  background-color: #b39886;
  color: white;
}

.gt2Button {
  border: 2px solid #006b73;
}

.gt2Button:hover {
  background-color: #006b73;
  color: white;
}

.gt3Button {
  border: 2px solid #40d9ff;
}

.gt3Button:hover {
  background-color: #40d9ff;
  color: white;
}

.gtaButton {
  border: 2px solid #acdae6;
}

.gtaButton:hover {
  background-color: #acdae6;
  color: white;
}

.gtxButton {
  border: 2px solid #2d86b3;
}

.gtxButton:hover {
  background-color: #2d86b3;
  color: white;
}

.improvedTouring {
  border: 2px solid #0058a6;
}

.improvedTouring:hover {
  background-color: #0058a6;
  color: white;
}

.superTouring {
  border: 2px solid #40a6ff;
}

.superTouring:hover {
  background-color: #40a6ff;
  color: white;
}

.production {
  border: 2px solid #0d1c33;
}

.production:hover {
  background-color: #0d1c33;
  color: white;
}

.americanSedan {
  border: 2px solid #acbbe6;
}

.americanSedan:hover {
  background-color: #acbbe6;
  color: white;
}

.specMiata {
  border: 2px solid #000059;
}

.specMiata:hover {
  background-color: #000059;
  color: white;
}

.aSports {
  border: 2px solid #4330bf;
}

.aSports:hover {
  background-color: #4330bf;
  color: white;
}

.t1 {
  border: 2px solid #b380ff;
}

.t1:hover {
  background-color: #b380ff;
  color: white;
}

.t2 {
  border: 2px solid #3b264d;
}

.t2:hover {
  background-color: #3b264d;
  color: white;
}

.t3 {
  border: 2px solid #d600e6;
}

.t3:hover {
  background-color: #d600e6;
  color: white;
}

.t4 {
  border: 2px solid #73004d;
}

.t4:hover {
  background-color: #73004d;
  color: white;
}

.bSpec {
  border: 2px solid #e639ac;
}

.bSpec:hover {
  background-color: #e639ac;
  color: white;
}

.specMX5 {
  border: 2px solid #b386a4;
}

.specMX5:hover {
  background-color: #b386a4;
  color: white;
}

.noButton {
    border: 2px solid #F44336;
}

.noButton:hover {
    background-color: #F44336;
    color: white;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    padding: 70px 0;
    text-align: center;
}

.right {
  position: absolute;
  right: 0px;
  width: 128px;
  padding: 10px;
}

.question {
    display: none;
}

.eligible {
    display: none;
    color: #4CAF50;
    font-weight: bold;
}

.notEligible {
    display: none;
    color: #F44336;
    font-weight: bold;
}

.notEligibleExplanation {
    color: black;
    font-weight: normal;
}
