{{ $name := .Name }}{{ $shortname := .ShortName }}{{ $chapterfillertext := .ChapterFillerText }}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="SCCA Solo Classifier Application - Solo Spec Coupe Car Page">
    <title>SCCA Solo Classification Assistant</title>
    <script src="../common.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a id='{{ $shortname }}LandingPageMenu' href="#" onclick="resetQuestion('{{ $shortname }}LandingPage'); evalSessionStorage('{{ $shortname }}Car');">Overview</a>{{ range .SubChapters }}
      <a id='{{ toVarName $name}}{{ menuName .Name}}Menu' href="#" onclick="resetQuestion('{{ toVarName $name}}{{ menuName .Name }}'); evalSessionStorage('{{ $shortname }}Car');">{{ menuName .Name }}</a>{{ end }}
    </div>

    <div id="main">
      <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <h1 class="center sansserif">Solo Spec Coupe Class Questionnaire</h1>

    <div id="homeButton" class="left">
      <button class="button noButton" onclick="window.location.href = '/index.html';">Home</button>
      <button class="button noButton" onclick="window.location.href = '/a/index.html';">Car Selection</button>
    </div>
    <div id="resetButton" class="right" title="Clear question answers, as well as make, model, and year selections">
      <button class="button noButton" onclick="resetState()">Clear Selections</button>
    </div>
  </head>

  <body onload="evalSessionStorage('{{ $shortname }}Car');">
    <div id="{{ $shortname }}LandingPage" class="center question sansserif">
      <h2 id="{{ $shortname }}LandingPageQuestion">
        Solo Spec Coupe Class Overview
      </h2>
      <div id="overviewBody" class="questionBody">
        <h3>
          Category Objective
        </h3>
        <p>
        To provide an affordable autocross package that combines a streetable car and a capable
        autocross car using specified parts
        </p>
        <h3>
          Mandatory Parts
        </h3>
        <p>
        The parts specified (tires, wheels, and suspension) must be used.
        All components and parts (e.g., hardware) are required to be installed.
        Original equipment (OE) or equivalent components are not allowed.
        Required bump stops are provided in the Eibach® PRO-PLUS Performance Handling Package.
        </p>
      </div>
      </br>
      <button class="button yesButton" onclick="setState(['{{ $shortname }}LandingPage', '{{ $shortname }}CarAnsweredIndex'], [true, 0]); hideItem('{{ $shortname }}LandingPage'); evalSessionStorage('{{ $shortname }}Car'); window.scroll(0,0);">Continue</button>
    </div>

{{ range $index, $subchapter := .SubChapters }}
    <div id="{{ toVarName $name}}{{ menuName $subchapter.Name }}" class="center question sansserif">
      <h2 id="{{ toVarName $name}}{{ menuName $subchapter.Name }}Question">
        Does your car meet the requirements below?
      </h2>
      <div id="{{ toVarName $name}}Body" class="questionBody">
        <h3>
          {{ subChapterText $subchapter.Reader $chapterfillertext }}
        </h3>
      </div>
      </br>
      <button class="button yesButton" onclick="setState(['{{ toVarName $name}}{{ menuName $subchapter.Name }}', '{{ $shortname }}CarAnsweredIndex'], [true, {{ addOne $index }}]); hideItem('{{ toVarName $name}}{{ menuName $subchapter.Name }}'); evalSessionStorage('{{ $shortname }}Car'); window.scroll(0,0);">Yes</button>
      <button class="button noButton" onclick="setState(['{{ toVarName $name}}{{ menuName $subchapter.Name }}', '{{ $shortname }}CarAnsweredIndex'], [false, {{ addOne $index }}]); hideItem('{{ toVarName $name}}{{ menuName $subchapter.Name }}'); evalSessionStorage('{{ $shortname }}Car'); window.scroll(0,0);">No</button>
    </div>
{{ end }}


    <div id="eligible" class="center eligible sansserif">
      <h1>
        Your car is eligible for Solo Spec Coupe class!
        </br>
      </h1>

    <div id="notEligible" class="center notEligible sansserif">
      <h1>
        Your car is NOT eligible for Solo Spec Coupe class.
      </h1>
      <div class="notEligibleExplanation">
        <h2>
          You answered "No" to the following questions, which resulted in your ineligibility:
        </h2>
        <p id="ineligibilityQuestions"></p>
      </div>
    </div>
  </body>
</html>
