# This workflow will lint the javascript on pull requests to master
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Lint

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js '24.x'
      uses: actions/setup-node@v6
      with:
        node-version: 24
    - run: npm ci
    - run: npm run lint
